<div class="card my-4">
  <div class="card-body">
   <h4 class="card-title"><%= article.user.username %></h4>
   <h6 class="card-subtitle mb-3 text-muted border-bottom pb-3">Posted on: <%= article.created_at %></h6>

    
    <%= article.content %>
  </div>
</div>
