<%= form_with url: search_index_path, method: :post , data: { controller: 'debounce', debounce_target: 'form' } do |form| %>
  <div class="mb-3 w-75">
    <%= form.search_field :title_search, value: params[:title_search], placeholder: 'search discussion by name',oninput: "this.form.requestSubmit()" ,  class: "form-control form-control-md" , data: { action: "input->debounce#search" }%>    
  </div>
<% end %>

<div id="search_results"></div>
